@tailwind base;
@tailwind components;
@tailwind utilities;

 
@layer components {
  .heroButton {
    @apply px-6 py-2 border border-dark-davys-gray rounded-full uppercase text-xs tracking-widest text-chinese-violet transition-all hover:border-pale-dogwood/40 hover:text-pale-dogwood/40
  }

  .contactInput {
    @apply outline-none bg-dim-gray/10 rounded-sm border-b px-6 py-4 border-dark-davys-gray text-dim-gray placeholder-gray-500 transition-all focus:border-mountbatten-pink/40 focus:text-timberwolf/40 hover:border-mountbatten-pink/40
  }
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
